<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Workings.Properties.Settings.computer_shopConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\computer_shop.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Workings.Properties.Settings.computer_shopConnectionString1"
            connectionString="Data Source=DESKTOP-KGAEF5O\SQLEXPRESS;AttachDbFilename=|DataDirectory|\computer_shop.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Workings.Properties.Settings.C__SQL_MSSQL15_SQLEXPRESS_MSSQL_DATA_COMPUTER_SHOP_MDFConnectionString"
            connectionString="Data Source=DESKTOP-KGAEF5O\SQLEXPRESS;Initial Catalog=C:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\COMPUTER_SHOP.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>